.App {
  text-align: center;
}

body {
  background-color: #7c7c7c;
}

header h1 {
  color: #1C0A00;
}

.image-album {
  width: 200px;
}

.Song-playlist {
  border: 2px solid #1C0A00;
  border-radius: 20px;
  background-color: #22b61d;
  padding: 40px;
  width: 400px;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.Song-playlist p {
  font-size: 16px;
  color: #1C0A00;
  line-height: 15px;
}

.Song-playlist button {
  background-color: #ffffff;
  border: 1.5px solid #1C0A00;
  border-radius: 8px;
  color: #1C0A00;
  margin-top: 15px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input{
  height: 20px;
  border-radius: 5px;
}

.search-bar button{
  height: 28px;
  border: 1.5px solid #1C0A00;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}