.App {
  text-align: center;
}

body {
  background-color: #1DB954;
}

header h1 {
  color: #1C0A00;
}

.image-album {
  width: 100px;
}

.Song {
  border: 2px solid #1C0A00;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 500px;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.Song p {
  font-size: 16px;
  color: #1C0A00;
  line-height: 10px;
}

table {
  width: 100%;
}

td img {
  width: 30%;
}

.detail-song {
  text-align: left;
  width: 70%;
}

.Song button {
  background-color: #1DB954;
  border: 1.5px solid #1C0A00;
  border-radius: 8px;
  color: #1C0A00;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input{
  height: 20px;
  border-radius: 5px;
}

.search-bar button{
  height: 28px;
  border: 1.5px solid #1C0A00;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}